name: Node.js CI

on:
  push:
    branches: [ master ]
  schedule:
        - cron: '*/40 * * * * ' # 每40分钟运行一次
jobs:
  build_on_win_2016:
    runs-on: windows-2016  # ubuntu-16.04 macos-10.15 windows-2019
    timeout-minutes: 30
    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]  # mac node 14 出问题的概率很大，改成13
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: node master
  build_on_linux:
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@master
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Create local changes
      run: |
        echo "update" >> log1.log
        git add .
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "Add changes" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
